openapi: 3.0.0
servers:
  - url: https://cdn.imagin.studio
info:
  version: 3.0.0
  title: Imagin Studios APIs
  termsOfService: http://imagin.studio/terms/
  contact:
    email: support@imagin.studio
  license:
    name: Apache 2.0
    url: http://imagin.studio/licence/
    
tags:
  - name: Image APIs
    description: For retrieving images
  - name: Paint APIs
    description: Access to Paint APIs
  - name: getCarListing
    description: Ability to query availability of vehicles
security:
  - customerId: []

paths:
  /getImage:
    get:
      tags:
      - Image APIs
      summary: Get Car images based on given criteria
      parameters:
      - $ref: '#/components/parameters/make'
      - $ref: '#/components/parameters/modelFamily'
      - $ref: '#/components/parameters/modelRange'
      - $ref: '#/components/parameters/modelVariant'
      - $ref: '#/components/parameters/powerTrain'
      - $ref: '#/components/parameters/bodySize'   
      - $ref: '#/components/parameters/modelYear'   
      - $ref: '#/components/parameters/trim'
      - $ref: '#/components/parameters/paintId'
      - $ref: '#/components/parameters/paintDescription'
      - $ref: '#/components/parameters/rimId'
      - $ref: '#/components/parameters/rimDescription'
      - $ref: '#/components/parameters/interiorId'
      - $ref: '#/components/parameters/interiorDescription'
      - $ref: '#/components/parameters/steering'
      - $ref: '#/components/parameters/transmission'
      - $ref: '#/components/parameters/countryCode'
      - $ref: '#/components/parameters/tailoring'   
      - $ref: '#/components/parameters/angle'   
      - $ref: '#/components/parameters/width'   
      - $ref: '#/components/parameters/fileType'   
      - $ref: '#/components/parameters/zoomType'   
      - $ref: '#/components/parameters/zoomLevel'   
      - $ref: '#/components/parameters/margins'   
      - $ref: '#/components/parameters/groundPlaneAdjustment'   
      - $ref: '#/components/parameters/safeMode'   
      
      description: The getImage API will take the above mentioned parameters and return images consistent with the search criteria
      operationId: getImage
      responses:
        '200':
          description: Returns an image
          content:
            image/png:
              schema:
                type: string
                format: binary 

  /getImagecachebundle:
    get:
      tags:
      - Image APIs
      summary: Get Image cache in some circumstances
      parameters:
      - $ref: '#/components/parameters/licenseBundleSize'
      - $ref: '#/components/parameters/channelName'
      - $ref: '#/components/parameters/campaignId'
      
      description:  In the event you cannot apply a direct CDN request, you are allowed to use the getImageCacheBundle API to cache and download images.
      operationId: getImagecachebundle
      responses:
        '200':
          description: Returns image cache
          content:
            image/png:
              schema:
                type: string
                format: binary 

  /getPaints:
    get:
      tags:
      - Paint APIs
      summary: Get Image cache in some circumstances
      parameters:
      - $ref: '#/components/parameters/target'
      - $ref: '#/components/parameters/make'
      - $ref: '#/components/parameters/modelFamily'
      - $ref: '#/components/parameters/modelRange'
      - $ref: '#/components/parameters/modelVariant'
      - $ref: '#/components/parameters/bodySize'   
      - $ref: '#/components/parameters/modelYear'   
      - $ref: '#/components/parameters/trim'
      - $ref: '#/components/parameters/powerTrain'
      
      description:  get paints based on search criteria
      operationId: getpaints
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paintdata' 

  /getPaintswatches:
    get:
      tags:
      - Paint APIs
      summary: prodives a the colour information to create paint tiles / colour swatches with
      parameters:
      - $ref: '#/components/parameters/make'
      - $ref: '#/components/parameters/paints'
      
      description:  This API prodives a the colour information to create paint tiles / colour swatches with
      operationId: getpaintswatches
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaintSwatches'


  /getCarListing:
    get:
      tags:
      - getCarListing
      summary: Allows to retrieve and drill down into the car images which are currently available on the CDN
      parameters:
      - $ref: '#/components/parameters/make'
      - $ref: '#/components/parameters/modelFamily'
      - $ref: '#/components/parameters/modelRange'
      - $ref: '#/components/parameters/modelVariant'
      - $ref: '#/components/parameters/powerTrain'
      - $ref: '#/components/parameters/bodySize'   
      - $ref: '#/components/parameters/modelYear'
      - $ref: '#/components/parameters/steering'
      - $ref: '#/components/parameters/transmission'
      - $ref: '#/components/parameters/trim'
      - $ref: '#/components/parameters/paintId'
      - $ref: '#/components/parameters/rimId'
      - $ref: '#/components/parameters/interiorId'
      - $ref: '#/components/parameters/countryCode'
      - $ref: '#/components/parameters/angle'
      description: Allows to retrieve and drill down into the car images which are currently available on the CDN.This is not a coverage check, as Imagin.Studio's systems will automatically add content when requested via the getImage API. Drilling down happens by providing the known parameters, the result will provide you with the next layer of information.
      operationId: getCarListing
      responses:
        '200':
          description: A list of available angles of camera relative to the car
                
      

         
components:
  securitySchemes:
    customerId:
      name: customer
      in: query
      type: apiKey
  schemas:
    Make:
     type: string
    paintdata:
      type: object
      properties:
        target:
         type : string
        make:
         type : string
        modelfamily:
         type : string         
        modelrange:
         type : string
        modelvariant:
         type : string
        bodysize:
         type : string
        modelyear:
          type: string
        trim: 
          type: string
        powertrain:
          type: string
        paintcombination:
          type: array
          items: 
           type: array
           items:
            type: object
            properties:
             lowLight:
              type: string
             midLight:
              type: string
             highLight:
              type: string
             colourCluster:
              type: string
             paintType:
              type: string
             mapped:
               type: object
               properties:
                paintDescription:
                 type: string

          
    PaintSwatches:
      type: array
      items:
       type: object
       properties:
        paintId:
         type: string
        paintDescription:
         type: string
        spraycan:
         type: array
         items:
          type: object
          properties:
           sprayCanId:
            type: string
           paintType:
            type: string
           primarySprayCanRGB:
            type: string
           primarySprayCanHighLightRGB:
            type: string
           colourCluster:
            type: string
        
  parameters:
    angle:
      name: angle
      in: query
      description: camera angle
      schema:
        type: string
    target:
      name: target
      in: query
      description: desired vehicle type
      schema:
        type: string
      required: true
    paints:
      name: paints
      in: query
      description: Paint codes
      schema:
        type: string
      required: true
    licenseBundleSize:
      name: licenseBundleSize
      in: query
      description: contains the expectation of image views / downloads after it is cached
      schema:
        type: number
    channelName:
      name: channelName
      in: query
      description: states the channel the image is used in
      schema:
        type: string
    campaignId:
      name: campaignId
      in: query
      description: provides a unique advertising / page id , typically the uid you use for your analytics tracking as well
      schema:
        type: string
    make:
      name: make
      in: query
      description: The make / brand / manufactorer of the car you are requesting.
      schema:
        type: string
      required: true
    modelFamily:
      name: modelFamily
      in: query
      description: The modelFamily of the car you are requesting
      schema:
        type: string
    modelRange:
      name: modelRange
      in: query
      description: Key to differentiate special model lines such as Audi S, BMW M, Mercedes AMG, etc.
      schema:
        type: string
    modelVariant:
      name: modelVariant
      in: query
      description: The modelFamily of the car you wish to query. Next to the list below, codes from most data vendors are accepted
      schema:
        type: string
    powerTrain:
      name: powerTrain
      in: query
      description: Specifies the drive type of the car.
      schema:
        type: string
    bodySize:
      name: bodySize
      in: query
      description: Specifies the car`s body size. For passenger vehicles you specify the number of doors. For commercial vehicles this attribute is used to specify the height and length of the vehicle (L1H2).
      schema:
        type: string
    modelYear:
      name: modelYear
      in: query
      description: The year of introduction of the model or facelift, incremented by one. Trims are classified by the introduction year in which the modelFamily was launched, not the trim itself. The CDN will look for a car that is equal or older than the year requested.
      schema:
        type: string
    trim:
      name: trim
      in: query
      description: The name of the trim / edition you are requesting. Cleaned from any engine, powertrain or other data. Trim requests that include other data than trim name is ignored
      schema:
        type: string
    paintId:
      name: paintId
      in: query
      description: |
        The product id / product code of the paint option you wish to receive. paintId's containing descriptions, rgb values or any information other than the product option code will be ignored. Defaults to imagin-grey if omitted or if not available.
        <br/><br><i>Available with license:</i> premium, enterprise
      schema:
        type: string
    paintDescription:
      name: paintDescription
      in: query
      description: |
        The description of the paint you have requested with the paintId. If the paintId can not be resolved, this property is used to identify  the requested paintId. Unresolvalble paintId's can not be resolved if paintDescrption is not supplied.
        <br/><br><i>Available with license:</i> premium, enterprise
      schema:
        type: string      
    rimId:
      name: rimId
      in: query
      description: |
        The product id / product code of the rim option you wish to receive. rim Id's containing descriptions or any information other than the product option code will be ignored. Defaults to the modelFamily or trim specific rim if omitted or if not available.
        <br/><br><i>Available with license:</i> premium, enterprise
      
      schema:
        type: string
    rimDescription:
      name: rimDescription
      in: query
      description: |
        The description of the rim you have requested with the rimId. If the rimId can not be resolved, this property is used to identify the requested rimId. Unresolvalble rimId's can not be resolved if rimDescription is not supplied.
        <br/><br><i>Available with license:</i> premium, enterprise
      
      schema:
        type: string     
    interiorId:
      name: interiorId
      in: query
      description: |
        The product id / product code of the rim interior you wish to receive. interior Id's containing descriptions or any information other than the product option code will be ignored. Defaults to the modelFamily or trim specific interior if omitted or if not available.
        <br/><br><i>Available with license:</i> premium, enterprise
      
      schema:
        type: string
    interiorDescription:
      name: interiorDescription
      in: query
      description: |
        The description of the interior you have requested with the interiorId. If the interiorId can not be resolved, this property is used to identify the requested interiorId. Unresolvalble interiorId's can not be resolved if interiorDescription is not supplied.
        <br/><br><i>Available with license:</i> premium, enterprise
      
      schema:
        type: string       
    steering:
      name: steering
      in: query
      description: Left or right hand driven car. When a car is unavailable right hand drive the left hand drive will be shown.
      schema:
        type: string
    transmission:
      name: transmission
      in: query
      description:  Type of transmission installed in the vehicle. Automatic or manual.
      
      schema:
        type: string
    countryCode:
      name: countryCode
      in: query
      description: Type delivery region of the vehicle. This may change appearence due to local legislation. For example the licenseplate or lights. 
      schema:
        type: string

        
    tailoring:
      name: tailoring
      in: query
      description: |
        The tailoring id you have been given for your tailoring. Will default to your standard tailoring if ommited. 
          <br/><br><i>Available with license:</i> premium, enterprise
      
      schema:
        type: string
    width:
      name: width
      in: query
      description:  |
        The width of the image you wish to receive. Any requested width is resolved back to the first larger standard CDN size. For example 745 returns 800. 
        All sizes are web optimized except for 3456, which offers with highest quality possible disregarding file size.
        <br/><br><i>Freemium licence limitation:</i> freemium licences are limited to width 400
        <br/><br><i>Limited licence limitation:</i> limited licences are limited to widths 400 and 800
      
      schema:
        type: string


    zoomType:
      name: zoomType
      in: query
      description: |
        Fullscreen make the car fit the entire canvas, so a smaller car is presented just as large as an LCV. Usefull for car detail pages
        Relative takes into consideration the actual size of the car relative to other cars, providing a natural view when cars are listed site by site.
      
      schema:
        type: string

    zoomLevel:
      name: zoomLevel
      in: query
      description: |
        Influences the amount of white space shown around the car in the image.
        <br/><br><i>Available with license:</i> premium, enterprise
      
      schema:
        type: integer
    groundPlaneAdjustment:
      name: groundPlaneAdjustment
      in: query
      description: |
        Decimal point percentage to change the position where the car wheels touch the ground. An automated offset may be applied to your settings.
        <br/><br><i>Available with license:</i> premium, enterprise
      
      schema:
        type: number
    margins:
      name: margins
      in: query
      description: |
        Range in % of width and heigt of margins around the used area of the image.
        <br/><br><i>Available with license:</i> premium, enterprise
      
      schema:
        type: number
            
    safeMode:
      name: safeMode
      in: query
      description: |
        Safemode prevents cut-offs of content as a result to changes to margins, zoomLevel and / or groundplaneAdjustment. If the cut-off is desired and not accidental. Safemode may be switched to false (off).
      
      schema:
        type: boolean
        enum:
          - true
          - false
        default: true

    fileType:
      name: fileType
      in: query
      description:
        The type of image you wish to receive. PNG's and WEBP are transparent. All file types are web obtimized.
        webp and png are <br/><br><i>Available with license:</i> premium, enterprise
      
      schema:
        type: string
        enum:
          - webp
          - png
          - hpg
